body {
  background: #0f172a;
  color: white;
  font-family: Arial;
  text-align: center;
  padding: 40px;
}

input, button {
  padding: 10px;
  margin: 10px;
}

pre {
  background: #020617;
  padding: 15px;
  text-align: left;
  margin-top: 20px;
}


